.slider2 {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
    .slider2::before,
    .slider2::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .slider2::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .slider2::before {
        left: 0;
        top: 0;
    }

.slide2-track {
    display: flex;
    width: fit-content;
    animation-timing-function: linear;
    animation: scroll 30s infinite;
}

.slide2 {
    height: 100px;
    width: 250px;
}

@keyframes scroll {
    0% {
        transform: translateX(calc(200px));
    }

    100% {
        transform: translateX(-100%);
    }
}