@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #131212 0%, #684C46 46%, #DF4322 100%);
}
.body {
    font-family: 'Roboto', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #131212 0%, #684C46 46%, #DF4322 100%);
}
.demo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lg {
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

::placeholder {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.form-control-lg {
    font-size: 16px;
    padding: 25px 20px;
}

.font-500 {
    font-weight: 500;
}

.borderRadius {
    border-radius: 10px;
}

.loginWhite {
    width:100%;
}

.btnLogin {
    background-color: brown;
    border-color: brown;
    border-radius:30px;
}

.inputsLogin{
    padding:8px;
    border-radius:10px;
}







